.outer-container {
    padding: 20px;
    height: calc( 100% - 40px );
    // display: grid;
    // grid-template-columns: repeat( auto-fill, minmax(186px, 1fr) );
    animation: fadein 0.7s;

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}

.spinner {
    position: absolute;
    top: calc( 50% - 50px );
    left: calc( 50% - 50px );
}