.outer-container {
    padding: 20px;
    height: calc( 100% - 40px );
    animation: fadein 0.7s;

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}

.spinner {
    position: absolute;
    top: calc( 50% - 50px );
    left: calc( 50% - 50px );
}

.letter-title {
    line-height: normal;
    font-size: 30px;
    font-weight: 500;
    border-bottom: solid 2px #9c27b0;
    padding-left: 5px;
    width: 100%;
    cursor: default;
}

.letter-container {
    margin-bottom: 15px;
}