.album-actions,
.album-actions-button {
  width: 100%;
  height: 0;
  overflow-y: hidden;
  position: absolute;
  bottom: 0;
  transition: height 0.5s;
}

.album-actions {
  background: rgb(33, 33, 33);
  z-index: 2;
  opacity: 0.8;
}

.album-actions-button {
  color: #FFF;
  z-index: 3;
  text-align: center;
  opacity: 1;
}

.show {
  .album-actions,
  .album-actions-button {
    height: 40px;
  }
}
