<main *ngIf="playlistData">
  <header>
    <div class="header-image-container">
      <img class="header-image" src="{{playlistData.attributes.artwork.url | formatArtworkUrl:500}}">
    </div>
    <div class="header">
        <div class="artwork" [ngStyle]="{'background-image':'url('+(playlistData.attributes.artwork.url | formatArtworkUrl:170)+')'}"></div>
        <div class="album-extras">
          <div class="track-text">
            <span class="album-name">{{playlistData.attributes.name}}</span>
            <span class="runtime">{{ playlistData.relationships.tracks.data.length | i18nPlural: {'=1': '# song', 'other': '# songs'} }} • {{totalDuration | formatMillisecondsToText}}</span>
          </div>
          <div class="album-button-container">
            <button
              class="album-button" mat-raised-button
              (click)="playPlaylist()"
            >
              Play
            </button>
            <button
              class="album-button" mat-raised-button
              (click)="playPlaylist(true)"
            >
              Shuffle
            </button>
          </div>
        </div>
    </div>

  </header>
  <section [ngStyle]="{'background-image': 'linear-gradient(#04060c, ' + bgColor + ' 180%)'}">
    <div class="tracklist">
      <app-song
        *ngFor="let songData of playlistData.relationships.tracks.data; let i = index"
        [songData]="songData"
        (uponClick)="playSong(i)"
      >
      </app-song>
    </div>
  </section>
</main>