<div
  class="outer-container"
  (dblclick)="songClicked()"
  [ngStyle]="{'background-color': isSelected() ? 'rgba(0, 0, 0, 0.3)' : ''}"
>
  <div class="inner-container mat-typography">
    <div class="track-info">
      <span class="song-name" [ngStyle]="{'color': isSelected() ? '#69f0ae' : ''}">{{songData.attributes.name}}</span>
      <div class="secondary-info">
        <span class="artist-name">{{songData.attributes.artistName}}</span>
        <span class="divider"> • </span>
        <span class="album-name">{{songData.attributes.albumName}}</span>
      </div>
    </div>
    <!-- <button mat-icon-button [style.visibility]="isHovering || isSelected() ? 'visible' : 'hidden'" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="playNext()">Play Next</button>
      <button mat-menu-item>Play Later</button>
    </mat-menu> -->
    <div
      class="time"
      [ngStyle]="{'color': isSelected() ? '#69f0ae' : ''}"
    >
      {{songData.attributes.durationInMillis | formatMilliseconds}}
    </div>
  </div>
</div>
