<div
  class="outer-container"
  (click)="songClicked()"
  [ngStyle]="{'background-color': isSelected ? 'rgba(0, 0, 0, 0.3)' : ''}"
>
  <div class="inner-container">
    <div class="track-number" *ngIf="albumView">{{songData.attributes.trackNumber}}</div>
    <img class="album-cover" *ngIf="!albumView" appLazyLoad [src]="songData.attributes.artwork.url | formatArtworkUrl:40">
    <div class="track-info">
      <div class="song-name-container">
          <span class="song-name" [ngStyle]="{'color': isSelected ? '#69f0ae' : ''}">{{songData.attributes.name}}</span>
          <mat-icon *ngIf="songData.attributes.contentRating === 'explicit'" class="explicit">explicit</mat-icon>
      </div>
      <div class="secondary-info" *ngIf="!albumView">
        <span class="artist-name">
          {{songData.attributes.artistName}}&nbsp;&nbsp;•&nbsp;&nbsp;{{songData.attributes.albumName}}
        </span>
      </div>
    </div>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      (click)="$event.stopPropagation()"
      *ngIf="!queueView"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="playNext()">Play Next</button>
      <button mat-menu-item (click)="playLater()">Play Later</button>
    </mat-menu>

    <div
      *ngIf="!queueView"
      class="time"
      [ngStyle]="{'color': isSelected ? '#69f0ae' : ''}"
    >
      {{songData.attributes.durationInMillis | formatMilliseconds}}
    </div>
  </div>
</div>
