.authorize-button {
    margin-top: 25px;
    width: 100%;
    background-color: #1e3264;
}

.outer-settings-container {
    padding-top: 10px;
    padding-bottom: 20px;
}

.bitrate-container {
    width: 100%;
}

.bitrate-text {
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.mat-radio-button {
    margin-right: 20px;
}