.popup {
    z-index: 2;
    width: 300px;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.3);
    padding-bottom: 0;
    background-color: #212121;
    font-weight: 400;
    line-height: normal;

    /deep/cdk-virtual-scroll-viewport {
        height: 100%;
    }

    /deep/.cdk-virtual-scroll-content-wrapper {
        min-width: unset !important;
        width: 100%;
    }

    @media screen and (max-width: 599.99px) and (orientation: portrait), (max-width: 959.99px) and (orientation: landscape) {
        margin-top: 76px;
    }
}

.title {
    font-weight: 500;
    flex: 1;
    padding-left: 8px;
    font-size: 25px;
}

.queue-header {
    cursor: move;
    width: 300px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    border-bottom: solid #7b1fa2 2px;
}

.tracks-container {
    overflow: auto;
    height: calc( 100% - 47px );
}

.empty-queue-prompt {
    height: 90%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}