<mat-card class="popup" cdkDrag>
  <div class="queue-header">
    <span class="title">
        Up Next
    </span>
    <button mat-icon-button (click)="close()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <cdk-virtual-scroll-viewport class="tracks-container" itemSize="60">
    <app-song
        *cdkVirtualFor="let songData of playerService.queue; let i = index; templateCacheSize: 0"
        [songData]="songData"
        [queueView]="true"
        (uponPlay)="playSong(i)"
        (uponRemove)="removeSong(i)"
    >
    </app-song>
  </cdk-virtual-scroll-viewport>
  <!-- <div class="tracks-container">
    <app-song
      *ngFor="let songData of playerService.queue; let i = index"
      [songData]="songData"
      [queueView]="true"
      (uponPlay)="playSong(i)"
    >
    </app-song>
  </div> -->
</mat-card>

