.popup {
    cursor: move;
    overflow: auto;
    z-index: 2;
    width: 300px;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.3);
}

.title {
    cursor: default;
    font-weight: 500;
    flex: 1;
    padding-left: 8px;
    font-size: 25px;
}

.queue-header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 300px;
    height: 50px;
}

.tracks-container {
    margin-top: 50px;
    overflow: auto;
    height: calc( 100% - 50px );
}