.popup {
    cursor: move;
    z-index: 2;
    width: 300px;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.3);
    padding-bottom: 0;
    background-color: #212121;
}

.title {
    font-weight: 500;
    flex: 1;
    padding-left: 8px;
    font-size: 25px;
}

.queue-header {
    width: 300px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    border-bottom: solid #7b1fa2 2px;
}

.tracks-container {
    overflow: auto;
    height: calc( 100% - 47px );
}