.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
    @media screen and (max-width: 599.99px) and (orientation: portrait), (max-width: 959.99px) and (orientation: landscape) {
        grid-template-columns: repeat( auto-fill, minmax(156px, 1fr) );
    }
    padding-left: 12px;
    padding-right: 12px;
}

.section-title {
    cursor: default;
    line-height: normal;
    font-size: 24px;
    font-weight: 500;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.outer-container {
    padding-top: 15px;
    padding-bottom: 20px;
    animation: fadein 0.7s;

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}

.top-songs-container {
    padding-left: 20px;
    padding-right: 20px;
}

.spinner {
    position: absolute;
    top: calc( 50% - 50px );
    left: calc( 50% - 50px );
}
