:host {
    display: flex;
    justify-content: center;
}

.inner-container {
    display: flex;
    flex-direction: column;
    width: 170px;
    @media screen and (max-width: 599.99px) and (orientation: portrait), (max-width: 959.99px) and (orientation: landscape) {
        width: 150px;
    }
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 20px;
}

.album-cover-container {
    background: rgb(33, 33, 33);
    outline: none;
    height: 170px;
    width: 170px;
    @media screen and (max-width: 599.99px) and (orientation: portrait), (max-width: 959.99px) and (orientation: landscape) {
        width: 150px;
        height: 150px;
    }
    margin-bottom: 10px;
    border-radius: 5px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.album-cover {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.7;
    }
}

.artist-name {
    color: #b3b3b3;
}

.album-name {
    font-weight: 500;
    cursor: pointer;
    outline: none;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.album-text {
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.album-name-container {
    display: flex;
    align-items: center;
}

.explicit {
    font-size: 14px;
    height: 14px;
    width: 14px;
    padding-left: 2px;
    color: #b3b3b3;
}

.rank {
    font-size: 20px;
    font-weight: 600;
    padding-right: 10px;
    cursor: default;
}

.text-outer-container {
    display: flex;
}
