.mobile-toolbar {
  position: absolute;
  top:0;
  z-index: 100;
  height: 56px;
  display: flex;
  overflow: hidden;
}

.outer-container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.track-info {
  width: 30%;
  display: flex;
  align-items: center;

  @media screen and (max-width: 599.99px) and (orientation: portrait), (max-width: 959.99px) and (orientation: landscape) {
    flex: 1;
  }
}

.track-text {
  width: 100%;
  cursor: default;
  overflow: hidden;
  line-height: normal;
  padding-right: 10%;
}

.track-title {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-artist {
  font-size: 14px;
  color: #b3b3b3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-artwork {
  height: 60px;
  min-width: 60px;
  width: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 5%;
  margin-right: 10px;
  background-size: cover;
}

.linkable {
  cursor: pointer;
  outline: none;

  &:hover {
    text-decoration: underline;
  }
}

div.linkable {
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }
}


.playback-controls {
  width: 40%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 599.99px) and (orientation: portrait), (max-width: 959.99px) and (orientation: landscape) {
    width: unset;
    flex: unset;
  }
}

.playback-buttons {
  display: flex;
  justify-content: center;
}

.misc-controls {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: 599.99px) and (orientation: portrait), (max-width: 959.99px) and (orientation: landscape) {
    width: unset;
    flex: 1;
  }
}

.scrubber {
  display: flex;
  width: 100%;
  align-items: center;
}

.slider {
  flex: 1;
  margin: 0 5px;
}

.time {
  font-size: 11px;
  color: #b3b3b3;
}

.spinner {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.active-link {
  color: #69f0ae;
}