<mat-sidenav-container
  [style.height]="isMobile ? 'calc( 100% - 156px )' : ''"
  [style.margin-top]="isMobile ? '56px' : ''"
  class="outer-container mat-typography">
  <mat-sidenav [mode]="mode" [(opened)]="opened">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

<router-outlet name="popup"></router-outlet>

<app-track-controls
  [isMobile]="isMobile"
  (uponOpened)="opened = !opened"
></app-track-controls>
