.outer-container {
    height: calc( 100% - 100px );
    background: black;
}

.mat-sidenav {
    background: black;
    border: none;
}

.content {
    background-image: linear-gradient(rgb(30, 50, 100), rgb(4, 6, 12) 130%);
}