.artist-header {
    line-height: normal;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: default;
    user-select: none;
}

.artist-name {
    font-size: 38px;
    font-weight: 500;
}

.albums-count {
    color: #b3b3b3;
}

.albums-title {
    cursor: default;
    user-select: none;
    line-height: normal;
    font-size: 18px;
    font-weight: 500;
    padding-left: 20px;
    padding-bottom: 10px;
}

.albums-grid {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(186px, 1fr) );
    padding-left: 12px;
    padding-right: 12px;
}