<div *ngIf="artistData">
  <div class="artist-header">
    <div class="artist-name">{{artistData.attributes.name}}</div>
    <span *ngIf="albumsCount" class="albums-count">{{ albumsCount | i18nPlural: {'=1': '# album', 'other': '# albums'} }}</span>
    <span *ngIf="albumsCount && singlesCount" class="albums-count"> • </span>
    <span *ngIf="singlesCount" class="albums-count">{{ singlesCount | i18nPlural: {'=1': '# single', 'other': '# singles'} }}</span>
  </div>

  <div *ngIf="albumsCount">
    <div class="albums-title">Albums</div>
    <div class="albums-grid">
      <ng-container *ngFor="let albumData of artistData.relationships.albums.data">
          <app-album-preview
          *ngIf="!albumData.attributes.isSingle"
          [albumData]="albumData"
        >
        </app-album-preview>
      </ng-container>
    </div>
  </div>

  <div *ngIf="singlesCount">
    <div class="albums-title">Singles</div>
    <div class="albums-grid">
      <ng-container *ngFor="let albumData of artistData.relationships.albums.data">
          <app-album-preview
          *ngIf="albumData.attributes.isSingle"
          [albumData]="albumData"
        >
        </app-album-preview>
      </ng-container>
    </div>
  </div>
</div>