<div class="outer-container">
  <div class="track-info">
    <img class="album-artwork" src="https://lh3.googleusercontent.com/mSJoRfHANphLeMX5lnGZbVGn8SnsxhmNhqHOAEX2LYhsw_HkqgsQPkFYK8cDWw-OSPVfyJVJJw=s180-c-e100">
    <div>
      <div>Antidote</div>
      <div>Travis Scott - Rodeo</div>
    </div>
  </div>
  <div class="playback-controls">

    <div class="playback-buttons">
      <button mat-icon-button>
          <mat-icon>skip_previous</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>skip_next</mat-icon>
        </button>
    </div>
    <div>
      <span>0:20</span>
      <mat-slider min="0" max="240" step="1" value="20"></mat-slider>
      <span>4:00</span>
    </div>

  </div>
  <div class="misc-controls">

  </div>
</div>
