:host {
  width: 100%;
}

.outer-container {
  display: flex;
}

.track-info {
  display: flex;
  align-items: center;
}

.album-artwork {
  height: 100%;
  width: 90px;
}

.playback-controls {
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playback-buttons {
  display: flex;
  justify-content: center;
}

.misc-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.scrubber {
  display: flex;
  width: 100%;
  align-items: center;
}

.slider {
  flex: 1;
}