:host {
    flex: 1;
}

.song-table {
    width: 100%;
}

.mat-table {
    background: none;
}

.outer-container {
    height: 100%;

    /deep/cdk-virtual-scroll-viewport {
        height: 100%;
    }

    /deep/.cdk-virtual-scroll-content-wrapper {
        min-width: unset !important;
        padding: 10px;
        width: calc(100% - 20px);
    }

    animation: fadein 0.7s;

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}

.song-row {
    &:hover {
        background-color: rgba(255, 255, 255, 0.04);
    }
}

.spinner {
    position: absolute;
    top: calc( 50% - 50px );
    left: calc( 50% - 50px );
}

.library-bg{
    background: rgba(255, 255, 255, 0.04);
    margin-top: 10px;
    height: 150px;

}

.library-button {
    width: 100px;
    margin-right: 10px;
    opacity: 1.0;
    margin-top: 100px;
}