.outer-container {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(186px, 1fr) );
    padding-top: 20px;
    padding-bottom: 10px;
}

.spinner {
    position: absolute;
    top: calc( 50% - 50px );
    left: calc( 50% - 50px );
}