<div class="sidebar-container">
  <mat-nav-list>
    <mat-list-item
      routerLink="/search"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact: true}"
    >
      <mat-icon>search</mat-icon>
      <div>Search</div>
    </mat-list-item>

    <mat-list-item
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact: true}"
    >
      <mat-icon>library_music</mat-icon>
      <div>Browse</div>
    </mat-list-item>

    <mat-list-item
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact: true}"
    >
      <mat-icon>favorite</mat-icon>
      <div>For You</div>
    </mat-list-item>

    <h3 mat-subheader>Library</h3>

    <mat-list-item
      routerLink="/library/songs"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact: true}"
    >
      <mat-icon>music_note</mat-icon>
      <div>Songs</div>
    </mat-list-item>

    <mat-list-item
      routerLink="/library/albums"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact: true}"
    >
      <mat-icon>album</mat-icon>
      <div>Albums</div>
    </mat-list-item>

    <mat-list-item
      routerLink="/library/artists"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact: true}"
    >
      <mat-icon>person</mat-icon>
      <div>Artists</div>
    </mat-list-item>

    <button
      *ngIf="!musicKitService.isAuthorized"
      class="authorize-button"
      mat-raised-button
      (click)="authorize()"
    >
      Login
    </button>
    <button
      *ngIf="musicKitService.isAuthorized"
      class="authorize-button"
      mat-raised-button
      (click)="unauthorize()"
    >
      Logout
    </button>
  </mat-nav-list>
</div>