<div class="sidebar-container">
  <mat-nav-list>
    <mat-list-item>
      <mat-icon>search</mat-icon>
      <a>Search</a>
    </mat-list-item>

    <h3 mat-subheader>Library</h3>

    <mat-list-item routerLink="/library/albums">
      <mat-icon>album</mat-icon>
      <a>Albums</a>
    </mat-list-item>

    <mat-list-item routerLink="/library/songs">
      <mat-icon>music_note</mat-icon>
      <a>Songs</a>
    </mat-list-item>

    <button
      *ngIf="!isAuthorized"
      class="authorize-button"
      mat-raised-button
      (click)="authorize()"
    >
      Login
    </button>
    <button
      *ngIf="isAuthorized"
      class="authorize-button"
      mat-raised-button
      (click)="unauthorize()"
    >
      Logout
    </button>
  </mat-nav-list>
</div>