<div
  [ngStyle]="{'background-color': '#' + albumData.attributes.artwork.bgColor, 'color': '#' + albumData.attributes.artwork.textColor1}"
  class="mat-typography outer-container"
>
  <div *ngIf="albumData.attributes.editorialNotes">
    <div class="editors-notes-title">Editors' Notes</div>
    <div
      *ngIf="albumData.attributes.editorialNotes.standard"
      [innerHTML]="albumData.attributes.editorialNotes.standard">
    </div>
    <div *ngIf="!albumData.attributes.editorialNotes.standard">
      {{albumData.attributes.editorialNotes.short}}
    </div>
  </div>

  <div class="key-value-info" *ngIf="albumData.attributes.genreNames">
    <span class="key">Genre:</span>
    <span>{{albumData.attributes.genreNames[0]}}</span>
  </div>

  <div class="key-value-info" *ngIf="albumData.attributes.releaseDate">
    <span class="key">Release Date:</span>
    <span>{{albumData.attributes.releaseDate | date: 'longDate'}}</span>
  </div>

  <div class="key-value-info" *ngIf="albumData.attributes.recordLabel">
    <span class="key">Record Label:</span>
    <span>{{albumData.attributes.recordLabel}}</span>
  </div>
</div>
