::ng-deep.mat-dialog-container {
    padding: 0;
}

.outer-container {
    padding: 24px;
    font-size: 16px;
}

.key {
    padding-right: 6px;
    font-weight: 500;
}

.editors-notes-title {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
}

.key-value-info {
    padding-top: 10px;
}
